.title{
    margin-top: 70px;
}
@mixin articles()
{
    background-size: cover;
    background-repeat: no-repeat;
    height: 214px;
    transition: 300ms;
    cursor: pointer;
}
section{
    width: 85%;
    margin: auto;
    .promo-content
    {
        width: 100%;
        display: flex;
        
    }
    .promo-1{
        width: 40%;
        margin-right: auto;
        background-image: url("../img/LIGHTSAPPHIRE-2_900x.webp");
        @include articles();

        img {
            width: 100%;
            height: 100% !important;
            object-fit: cover;
        }
    }
    

    .promo-2
    {
        width: 18.5%;
        margin: auto;
        background-image: url("../img/Vela.png");
        @include articles();

        img {
            width: 100%;
            height: 100% !important;
            object-fit: cover;
        }
    }
    .promo-3{
        width: 49%;
        height: 468px;
        margin: auto;
        margin-top: 16px;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("../img/Vela.png");
        transition: 300ms;
        cursor: pointer;
        
        img {
            width: 100%;
            height: 100% !important;
            object-fit: cover;
        }
    }
    .promo-1:hover,
    .promo-3:hover,
    .promo-2:hover{
        transition: 500ms;
        filter:hue-rotate(90deg);
    }
}

.content-bottom{
    width: 100%;
    display: flex;
    margin-top: 150px;
    article{
        width: 50%;
        margin: auto;
        height: 297px;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("../img/Vela.png");
        :first-child
        {
            margin-right: 56px;
        }
    }
}

@media(max-width:800px)
{
    .content-bottom{
        display: block;
        article{
            width: 70%;
            height: 350px;
            margin-top: 20px;
        }
    }
    section{
        .promo-content
        {
            display: block;
        }
        .promo-3,
        .promo-2,
        .promo-1{
            width: 70%;
            margin: auto;
            height: 350px;
            margin-top: 50px;
        }
    }
}

@media(max-width:500px)
{
    .content-bottom{
        display: block;
        article{
            width: 90%;
            height: 350px;
            margin-top: 20px;
        }
    }
    section{
        .promo-content
        {
            display: block;
        }
        .promo-3,
        .promo-2,
        .promo-1{
            width: 90%;
            margin: auto;
            height: 350px;
            margin-top: 50px;
        }
    }
}